<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Sobre</title>
    <link rel="stylesheet" href="../static/css/sobre.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Hepta+Slab:400,700|Lato:400,700&display=swap"  rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <script src="https://kit.fontawesome.com/b783c53a52.js" crossorigin="anonymous">

    </script>
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
        .w3-bar-block .w3-bar-item {padding:20px}
        </style>

</head>

    
<body>
    <nav>
        <div class="logo header-fixed">
            <h1>DevFruit<i class="fa-solid fa-watermelon-slice"></i></h1>
        </div>
        <button>&#9776;</button>
        <ul>
            
            <li><a href="sobre.html">Sobre</a>&nbsp;<i class="fa-solid fa-carrot"></i></li>
            <li><a href="index.html">Inicio</a>&nbsp;<i class="fa-solid fa-basket-shopping"></i></li>
            <li><a href="login.html">Login</a>&nbsp;<i class="fa-solid fa-address-card"></i></li>
            <li><a href="atendimento.html">Atendimento</a>&nbsp;<i class="fa-solid fa-circle-info"></i></li>
            <li><a href="sair.html">Sair</a>&nbsp;<i class="fa-solid fa-circle-xmark"></i></li>
        </ul>
    </nav>
    
<!-- nav - colocar os links para direcionar as paginas-->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
    class="w3-bar-item w3-button">Home</a>
    <a href="#Cadastro" onclick="w3_close()" class="w3-bar-item w3-button">Cadastro</a>
    <a href="#sobre" onclick="w3_close()" class="w3-bar-item w3-button">Sobre</a>
  </nav>
  
  <!-- barra da direita -->
 
  <!--tamanho -->
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
  
    
    <!-- fotos com descrição-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-quarter">
        <img src="../static/img/abacaxi.png" alt="Popsicle" style="width:100%">
        <h4> Experimente</h4>
        <p>Somos apaixonados por Tecnologia, estamos melhorando o mundo levando mais praticidade pra vida das pessoas através de um hortifruti.</p>
      </div>
      <div class="w3-quarter">
        <img src="../static/img/motinha.png" alt="Salmon" style="width:100%">
        <h4>Entrega facilitada</h4>
        <p>Com cuidado e segurança nos produtos, fazemos uma entrega eficaz.
          Garantimos a qualidade dos produtos, um difencial 
        </p>
      </div>
      <div class="w3-quarter">
        <img src="../static/img/logoteste.png" alt="Sandwich" style="width:100%">
        <h4>Explore</h4>
        <p>Navege pelo nosso site, peça e permita-se a vivenciar uma experência com a DevFruit.
           
        </p>
      </div>
      <div class="w3-quarter">
        <img src="../static/img/logo7.png" alt="Croissant" style="width:100%">
        <h4>Raízes</h4>
        <p>No outono as frutas se destacam pelo sabor adocicado e agradável... saiba mais clicando na descrição dos produtos.</p>
      </div>
    </div>
  

    
    <hr id="Sobre">
  
    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">  
      <h3>Qualidade de vida e onde tudo começou</h3><br>
      <img src="../static/img/grupo.png" alt="Me" class="w3-image" style="display:block;margin:auto" width="300" height="533">
      <div class="w3-padding-32">
        <h4><b>Desenvolvedores, amigos e apenas um sonho!</b></h4>
        <h6><i>Proporcionar uma alimentação saudável, ao seu alcance</i></h6>
        <p>Tudo começou em 2020, onde amigos, cujo desenvolvedores da mesma sala na faculdade, iniciaram um projeto de Ecommerce-hortifruti. </p>
        <p>
          Por qual motivo? </p>
          O mundo corporativo e os afazeres diarios ocupam grande espaço de tempo em nosso dia-dia; É preciso ter energia, disposição, " saúde em dia", e pensando nisso o Dev-Fruit veio para ser seu amigo de feira.
          Com praticidade no pedido e carinho na escolha de suas frutas/legumes/oleogenosas.
      </p>
            <p>Qual é o nosso propósito? </p>
            <p> Legumizar a sua casa e Frutificar a sua vida, para ter mais sabor. 
              O devfruit é mais que um delivery saudável, é a razão pela qual você pode se alimentar melhor. </p>
             <p> Quais são nossos valores?</p>
              <ol>
                 Integridade,
                 Carinho e cuidado ao que faz,
                 Responsabilidade social,
                 Empatia
  
              </ol>
      </div>
    </div>
    <hr>
    
    <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32">
      <div class="w3-third">
        <h4>FOOTER</h4>
        <p>Como a Devfruit pode me ajudar? </p>
          <p>Em nossa plataforma, garantimos preço justo, além produtos atualizados por estação do ano (outono, inverno, primavera e verão).</p>
          Motoboys treinados para uma entrega diferenciada. 
          Funcionários treinados para selecionar os melhores produtos, sempre garantindo qualidade e frescor. </p>
  
        
      </div>
    
      
  
    </footer>
  
  <!-- End page content -->
  </div>
  
  <script>
  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
  }
   
  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }
  </script>
  

</body>
</html>    